<div class="head">
    <img
        id="white"
        class="header__logo"
        src="../../../../assets/images/logo-black.avif"
        alt="napura hair care products Montenegro logo white"
        routerLink="/"
    />
    <!-- <div id="kostul"></div> -->
</div>

<div class="product-details">
    <div class="grid">
        <div class="cell" style="width: 50%">
            <img
                class="new"
                src="../../../../assets/images/new (1).png"
                alt=""
            />
            <div class="product-details__image-cover">
                <img src="../../../../assets/images/products/C9.webp" alt="" />
            </div>
        </div>
        <div class="cell" style="width: 50%">
            <h2 class="product-details__name">Product Name</h2>

            <h3 class="product-details__group">
                <img
                    src="../../../../assets/images/shampoo-icon.png"
                    alt=""
                />ANTI DANDRUFF
            </h3>
            <div class="product-details__price">40$</div>
            <div class="product-details__size">200ml</div>

            <ul class="product-details__pros">
                <li class="product-details__group">
                    <img
                        src="../../../../assets/images/checked (1).png"
                        alt=""
                    />sles free
                </li>
                <li class="product-details__group">
                    <img
                        src="../../../../assets/images/checked (1).png"
                        alt=""
                    />nature ingredients
                </li>
                <li class="product-details__group">
                    <img
                        src="../../../../assets/images/checked (1).png"
                        alt=""
                    />quality certified
                </li>
                <li class="product-details__group">
                    <img
                        src="../../../../assets/images/checked (1).png"
                        alt=""
                    />made in italy
                </li>
            </ul>
            <div class="product-details__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Assumenda sunt, quisquam commodi nisi officiis distinctio
                tempore voluptatum placeat, numquam expedita deserunt repellat
                doloremque minus voluptas praesentium minima, accusantium
                aperiam modi?
            </div>
            <div class="button-cover">
                <div class="button button--action pulse-animation">
                    Make an order
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">Copyright © 2023 NAPURA All rights reserved.</div>
