<div class="discount">
    <h1>Get <span>10% discount</span> by Joining our NAPURA community!</h1>
    <ul class="pros">
        <li>Get tips for hair treatment from proffesional!</li>
        <li>Participate in giveaways!</li>
        <li>Get NAPURA events updates!</li>
    </ul>
    <div class="button-cover">
        <a
            class="button button--action pulse-animation white"
            target="_blank"
            href="https://t.me/+1u4pHggiMdQ0ZThi"
        >
            Join chat and get discount
        </a>
    </div>
</div>
