@import "../../../../assets//styles/variables.scss";

:host {
    display: block;
}

.langs {
    display: flex;
    &__lang {
        margin-right: 5px;
        cursor: pointer;
        transition: 0.3s;
        padding-right: 5px;
        border-color: inherit !important;
        &:hover {
            opacity: 0.5;
            color: $action;
        }
        &.active-c {
            color: $action;
        }
    }
}
