<div class="jumbotron">
    <div class="header">
        <img
            class="header__logo"
            src="../../../../assets/images/logo-black.avif"
            alt=""
        />
        <div class="kostul"></div>
        <div class="header__items">
            <div class="header__item" *ngFor="let item of headerItems">
                {{ item | translate }}
            </div>
        </div>
        <div class="langs">
            <div
                class="langs__lang"
                *ngFor="let lang of langs; let i = index"
                [ngClass]="{
                    'border-right': i !== langs.length - 1,
                    'active-c': lang === currentLang
                }"
                (click)="selectLang(lang)"
            >
                {{ lang.toUpperCase() }}
            </div>
        </div>
    </div>
    <div class="grid-row">
        <div class="grid-row__half-section">
            <div class="jumbotron__info">
                <h1 class="jumbotron__title font--bold">
                    {{ "jumbotron.title" | translate }}
                    <img
                        class="made-in-italy"
                        src="../../../../assets/images/madeinitaly.png"
                        alt=""
                    />
                </h1>
                <p class="jumbotron__description">
                    {{ "jumbotron.description" | translate }}
                </p>
                <div class="button button--action pulse-animation">
                    {{ "header.becomeAMaster" | translate }}
                </div>
            </div>
        </div>
        <div class="grid-row__half-section">
            <img
                class="jumbotron__image"
                src="../../../../assets/images/shampoo.png"
                alt=""
            />
        </div>
    </div>
    <img
        class="liquid-item"
        src="../../../../assets/images/liquid-item.png"
        alt=""
    />

    <div class="footer">
        <div class="footer__social">
            <img src="../../../../assets/images/instagram.png" alt="" />
        </div>
        <div class="footer__social">
            <img src="../../../../assets/images/whatsapp.png" alt="" />
        </div>
        <div class="footer__social">
            <img
                class="viber"
                src="../../../../assets/images/viber.png"
                alt=""
            />
        </div>
    </div>
</div>
