<div class="jumbotron">
    <div class="header" #header>
        <img
            [hidden]="!isHeaderDark"
            id="white"
            class="header__logo"
            src="../../../../assets/images/napura-logo-white.png"
            alt="napura hair care products Montenegro logo white"
            (click)="
                scrollTo({
                    id: 'home',
                    isActive: true,
                    labelKey: 'header.home'
                })
            "
        />
        <img
            [hidden]="isHeaderDark"
            id="dark"
            class="header__logo"
            src="../../../../assets/images/logo-black.avif"
            alt="napura hair care products Montenegro logo black"
        />
        <div class="kostul" #kastyl></div>
        <div class="header__items">
            <div
                class="header__item"
                *ngFor="let item of headerItems"
                [ngClass]="{ active: item.isActive }"
                (click)="scrollTo(item)"
            >
                {{ item.labelKey | translate }}
            </div>
        </div>
        <div class="langs">
            <app-lang></app-lang>
        </div>
        <div class="menu">
            <img
                *ngIf="!isMobileMenuOpened"
                src="../../../../assets/images/menu.png"
                alt="open menu icon"
                (click)="toggleMenu()"
            />
            <img
                *ngIf="isMobileMenuOpened"
                class="menu-close"
                src="../../../../assets/images/close-button.png"
                alt="close menu icon"
                (click)="toggleMenu()"
            />
        </div>
        <div class="shape shape-top-right"></div>
    </div>
    <div class="carousel-wrapper">
        <div class="carousel" #carousel>
            <div class="carousel__window" id="home" data-section="home">
                <div class="grid-row">
                    <div class="grid-row__half-section">
                        <div class="jumbotron__info">
                            <h1
                                class="jumbotron__title font--bold heading-border-bottom"
                            >
                                {{ "jumbotron.title" | translate }}
                                <img
                                    class="made-in-italy"
                                    src="../../../../assets/images/madeinitaly.png"
                                    alt="napura hair products Montenegro made in italy logo"
                                />
                            </h1>
                            <p class="jumbotron__description" id="jdl">
                                {{ "jumbotron.description" | translate }}
                            </p>
                            <div
                                class="button button--action pulse-animation"
                                (click)="
                                    scrollTo({
                                        id: 'master',
                                        isActive: true,
                                        labelKey: 'header.becomeAMaster'
                                    })
                                "
                            >
                                {{ "header.becomeAMaster" | translate }}
                            </div>
                        </div>
                    </div>
                    <div class="grid-row__half-section">
                        <img
                            class="jumbotron__image"
                            src="../../../../assets/images/shampoo.webp"
                            alt="napura hair shampoo Montenegro"
                        />
                        <p class="jumbotron__description" id="jdm">
                            {{ "jumbotron.description" | translate }}
                        </p>
                    </div>
                </div>
                <img
                    class="liquid-item"
                    src="../../../../assets/images/liquid-item.webp"
                    alt="napura proffesional hair products Montenegro liquid item"
                />
            </div>

            <div
                class="carousel__window lightgrey"
                id="about"
                data-section="about"
            >
                <app-about></app-about>
            </div>
            <div
                class="carousel__window white"
                id="catalog"
                data-section="catalog"
            >
                <app-catalog (showless)="showless($event)"></app-catalog>
            </div>
            <div class="carousel__window" id="master" data-section="master">
                <app-master></app-master>
            </div>
            <div
                class="carousel__window white"
                id="wholesale"
                data-section="wholesale"
            >
                <app-wholesale></app-wholesale>
            </div>
        </div>
    </div>

    <!-- <div class="footer">
        <div class="footer__social">
            <img src="../../../../assets/images/instagram.png" alt="" />
        </div>
        <div class="footer__social">
            <img src="../../../../assets/images/whatsapp.png" alt="" />
        </div>
        <div class="footer__social">
            <img
                class="viber"
                src="../../../../assets/images/viber.png"
                alt=""
            />
        </div>
    </div> -->
</div>
<div class="menu-items" *ngIf="isMobileMenuOpened">
    <div
        class="menu__item"
        *ngFor="let item of headerItems"
        (click)="scrollTo(item)"
    >
        {{ item.labelKey | translate }}
    </div>
</div>
