@import "../../../../assets/styles/variables.scss";
:host {
    display: block;
}

.wholesale {
    &__title {
        font-size: 24px;
        width: 700px;
        line-height: 1.4;
        margin: 50px auto;
        text-align: center;
    }
}
