<div class="wholesale">
    <h2 class="wholesale__title">
        {{ "pages.wholesale.title.0" | translate }}
        <span class="font--bold">{{
            "pages.wholesale.title.1" | translate
        }}</span>
        {{ "pages.wholesale.title.2" | translate }}
    </h2>
    <div class="wrapper">
        <app-contact-form
            *ngIf="loading === LOADING_STATE.DEAD"
            submitTextKey="formFieldNames.getCatalog"
            (onFormSubmit)="becomeAPartner($event)"
        ></app-contact-form>

        <img
            *ngIf="loading === LOADING_STATE.LOADING"
            class="loading"
            src="../../../../assets/images/loading_2.png"
            alt=""
        />
        <div
            class="loaded"
            *ngIf="loading !== LOADING_STATE.LOADING || LOADING_STATE.DEAD"
        >
            <div
                class="loaded__success"
                *ngIf="loading === LOADING_STATE.SUCCESS"
            >
                <img
                    src="../../../../assets/images/check.png"
                    alt=""
                    class="success"
                />
                <h2>SUCCESSFUL!</h2>
                <p>
                    Welcome to our NAPURA proffesionals community! Thank you for
                    sharing your contacts. We will connect with you as soon as
                    possible.
                </p>
            </div>
            <div
                class="loaded__success"
                *ngIf="loading === LOADING_STATE.ERROR"
            >
                <img
                    src="../../../../assets/images/warning.png"
                    alt=""
                    class="success"
                />
                <h2>WARINING!</h2>
                <p>
                    Something went wrong, please try again later or contact us.
                </p>
            </div>
        </div>
    </div>
</div>
