:host {
    width: 270px;
    display: block;
    cursor: pointer;
}
.product {
    width: 270px;
    &__image {
        width: 100%;
    }
    &__data {
        padding: 10px;
        line-height: 1.4;
        border-top: 1px solid;
        border-bottom: 1px solid;
        font-size: 15px;
    }
    &__size {
        font-size: 13px;
        font-weight: 100;
    }
}
/// MEDIA ///

@media only screen and (max-width: 450px) {
    :host {
        width: 100%;
    }
    .product {
        width: 100%;
        &__data {
            font-size: 12px;
            border-right: 1px solid;
            height: 50px;
        }
    }
}
