@import "../../../../assets/styles/variables.scss";

:host {
    display: block;
    height: 100%;
}
.section-heading {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
}
.heading {
    display: inline-block;
    border-bottom: 1px solid #000;
    padding-right: 30px;
    padding-bottom: 5px;
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.master {
    height: 100%;
    &__image {
        width: 80%;
        top: 50%;
        left: 50%;
        position: relative;
        transform: translate(-50%, -65%);
        border-radius: 10px;
    }
    &__info {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -65%);
        width: 700px;
        height: 250px;
    }
    &__title {
        margin-bottom: 20px;
    }
    &__description {
        font-size: 20px;
        margin-bottom: 20px;
    }
    ol {
        list-style: auto;
        margin-left: 17px;
    }
    li {
        margin-bottom: 10px;
        line-height: 1.2;
    }
    #bmm {
        display: none;
    }
}

/// MEDIA ///

@media only screen and (max-width: 450px) {
    .grid {
        &-row {
            display: block;
            position: relative;
            &__half-section {
                box-sizing: border-box;
                padding: 15px;
                width: 100%;
                height: auto;
            }
        }
    }
    .master {
        &__title {
            font-size: 20px;
        }
        &__description {
            font-size: 16px;
        }
        &__info {
            top: auto;
            left: auto;
            transform: none;
            width: 100%;
            height: auto;
            margin-top: 70px;
            padding: 15px;
            box-sizing: border-box;
            line-height: 1.4;
        }
        &__image {
            width: 100%;
            top: auto;
            left: auto;
            transform: none;
            display: block;
            margin: 0px auto;
        }
        #bml {
            display: none;
        }
        #bmm {
            display: block;
            text-align: center;
            background-color: $action;
            color: white;
            box-shadow: none;
            margin: 40px 0 20px;
        }
    }
}
