<div class="master">
    <div class="grid-row">
        <div class="grid-row__half-section">
            <img
                class="master__image"
                src="../../../../assets//images/master.jpg"
                alt=""
            />
        </div>
        <div class="grid-row__half-section">
            <div class="master__info">
                <h1 class="master__title">
                    Become a <span class="font--bold">Napura</span> master and
                    join our community
                </h1>
                <p class="master__description font--bold">
                    Here are the steps to become a Napura master:
                </p>
                <ol>
                    <li>Leave your contacts and we will connect with you</li>
                    <li>
                        Come to masterclass made by our Napura proffesional
                        master, he will teach you all needed information about
                        the product and how to work with it
                    </li>
                    <li>Join our commuity</li>
                </ol>
                <div
                    class="button button--action pulse-animation"
                    (click)="openContactDialog()"
                >
                    {{ "header.becomeAMaster" | translate }}
                </div>
            </div>
        </div>
    </div>
</div>
