:host {
    display: block;
    height: 100%;
}
.section-heading {
    position: relative;
    top: 20px;
    left: 20px;
    font-size: 30px;
}
.heading {
    display: inline-block;
    border-bottom: 1px solid #000;
    padding-right: 30px;
    padding-bottom: 5px;
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.master {
    height: 100%;
    &__image {
        width: 80%;
        top: 50%;
        left: 50%;
        position: relative;
        transform: translate(-50%, -65%);
        border-radius: 10px;
    }
    &__info {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -65%);
        width: 700px;
        height: 250px;
    }
    &__title {
        margin-bottom: 20px;
    }
    &__description {
        font-size: 20px;
        margin-bottom: 20px;
    }
    ol {
        list-style: auto;
        margin-left: 17px;
    }
    li {
        margin-bottom: 10px;
        line-height: 1.2;
    }
}
