<div class="master">
    <div class="grid-row">
        <div class="grid-row__half-section">
            <img
                class="master__image"
                src="../../../../assets//images/master.jpg"
                alt=""
            />
        </div>
        <div class="grid-row__half-section">
            <div class="master__info">
                <h1 class="master__title">
                    {{ "pages.master.title.0" | translate }}
                    <span class="font--bold"
                        >{{ "pages.master.title.1" | translate }}
                    </span>
                    {{ "pages.master.title.2" | translate }}
                </h1>
                <p class="master__description font--bold">
                    {{ "pages.master.presteps" | translate }}
                </p>
                <ol>
                    <li>{{ "pages.master.steps.0" | translate }}</li>
                    <li>
                        {{ "pages.master.steps.1" | translate }}
                    </li>
                    <li>{{ "pages.master.steps.2" | translate }}</li>
                </ol>
                <div
                    class="button button--action pulse-animation"
                    (click)="openContactDialog()"
                >
                    {{ "header.becomeAMaster" | translate }}
                </div>
            </div>
        </div>
    </div>
</div>
