<div class="about">
    <div class="desc-cover">
        <h2 class="heading section-heading">about</h2>
        <p class="about__description">
            <span class="font--bold">NAPURA</span>
            {{ "pages.about.brandDescription" | translate }}
        </p>
    </div>
    <div class="about-content-box">
        <div>
            <h2 class="about__title heading">we are staninding for:</h2>
        </div>
        <h2 class="about__title heading">
            {{ "pages.about.certTitle" | translate }}
            <img src="../../../../assets/images/correct.png" alt="" />
        </h2>

        <div class="cert-images">
            <div class="cert-cover">
                <img src="../../../../assets/images/cert_1.png" alt="" />
            </div>
            <div class="cert-cover">
                <img src="../../../../assets/images/cert_2.png" alt="" />
            </div>
            <div class="cert-cover">
                <img src="../../../../assets/images/cert_3.png" alt="" />
            </div>
        </div>
    </div>
</div>
