<div class="about">
    <p class="about__description">
        <span class="font--bold">NAPURA</span>
        {{ "pages.about.brandDescription" | translate }}
    </p>
    <h1 class="about__title">
        {{ "pages.about.certTitle" | translate }}
        <img src="../../../../assets/images/correct.png" alt="" />
    </h1>

    <div class="cert-images">
        <img src="../../../../assets/images/cert_1.png" alt="" />
        <img src="../../../../assets/images/cert_2.png" alt="" />
        <img src="../../../../assets/images/cert_3.png" alt="" />
    </div>
</div>
