@import "../../../../assets/styles/variables.scss";
:host {
    display: block;
}
.desc-cover {
    box-sizing: border-box;
    border: 1px solid transparent;
    padding-top: 50px;
    margin-bottom: 50px;
    background: rgb(240, 240, 240);
}

.section-heading {
    position: relative;
    top: -30px;
    left: 20px;
    font-size: 30px;
}
.grid-row {
    position: relative;
    align-items: center;
}
.grid-row .heading {
    font-size: 20px;
}
.woman-about {
    width: 80%;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
}
.heading {
    display: inline-block;
    border-bottom: 1px solid #000;
    padding-right: 30px;
    padding-bottom: 5px;
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
}
.about {
    position: relative;
    // z-index: 2;
    background-color: rgb(250, 250, 250);
    &-content-box {
        padding: 40px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    &__description {
        width: 700px;
        text-align: center;
        margin: 70px auto 50px;
        line-height: 1.4;
        margin-top: 0;
    }
    &__title {
        text-align: center;
        margin-bottom: 30px;
        & img {
            height: 25px;
            vertical-align: bottom;
        }
    }
    .cert-images {
        display: flex;
        width: 600px;
        justify-content: space-between;
        // margin: 0 auto;
        .cert-cover {
            width: 160px;
            height: 160px;
            position: relative;
            // border: 1px solid #000;
            box-shadow: -2px 2px;
            border-radius: 4px;
            overflow: hidden;
            .mirror {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                box-shadow: inset 0 -200px 0 rgba(45, 45, 45, 0.3);
                border-radius: 2px;
                cursor: pointer;
                transition: 0.3s;
                &:hover {
                    box-shadow: none;
                }

                &:hover .document {
                    left: -40px;
                }

                &:hover .cert-name {
                    border-bottom: 1px solid $main-black;
                }
                .document {
                    transition: 0.3s;
                    height: 20px;
                    position: absolute;
                    bottom: 5px;
                    left: 5px;
                    cursor: pointer;
                }
                .cert-name {
                    border-bottom: 1px solid transparent;
                    transition: 0.3s;
                    font-weight: 600;
                    font-family: "Orbitron";
                    margin: 5px;
                    color: $main-black;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
            & > img {
                display: block;
                height: 100px;
                margin: 30px auto;
                box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
            }
        }
    }
    .cons {
        width: 100%;
        margin-bottom: 40px;
    }
    .standing-images {
        display: flex;
        justify-content: space-around;
        max-width: 600px;
        & img {
            height: 150px;
        }
    }
}
/// MEDIA ///

@media only screen and (max-width: 450px) {
    .about {
        &__description {
            width: 350px;
            font-size: 15px;
        }
    }
    .grid-row {
        display: block;
        &__half-section {
            width: 100%;
        }
        .standing-images {
            & img {
                height: 100px;
            }
        }
        .cert-images {
            width: 100%;
            & .cert-cover {
                width: 90px;
                height: 90px;

                & > img {
                    height: 60px;
                    margin: 25px auto;
                }
            }
        }
    }
}
